.button {
    overflow: hidden;
    &__text,  &__hover, &__grad {
        transition: 0.3s;
    }
    &__grad {
        transform-origin: left;
    }
    &__hover {
        width: 100%;
        height: 100%;
        content: '';
        left: -100%;
        top: 0;
    }
    &:hover {
       .button {
           &__text {
               color: #fff;
           }
           &__hover {
                left: 0%;
           }
       }
    }
    &__grad {
        &:hover {
           transform: translateY(-5px);
           box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
        }
    }
    &__white {
        &:hover {
            .button { 
                &__text {
                    color: #F08323;
                }
            }
        }
    }
}