.instaimage {
    height: 16.66vw;
    max-height: 300px;
    @media (max-width: 767px) {
        height: 50vw;
    }
    &__text {
        transform: translateY(10px);
    }
    &:hover {
        .instaimage {
            &__text {
                opacity: 1;
                transform: translateY(0px);
            }
            &__bg {
                opacity: 0.75;
            }
        }
    }
}