.casestudy-preview {
    transition: 0.3s;
    &__overlay, &__details, &__linktext, &::after, &::before {
        transition: 0.3s !important;
    }
    overflow: hidden;
    &:hover {
        &::after {
            transition: 0.3s;
            transform: scale(1.1) !important;
        }
        transform: translateY(-10px);
        box-shadow: 0px 5px 30px rgba(0,0,0,0.15);
        .casestudy-preview {
            &__overlay {
                background-color: #3F2E7F;
                opacity: 0.8;
            }
            &__details {
                transform: translateY(-20px);
                
            }
            &__linktext {
                opacity: 1;
                transform: translateY(-6px);
            }
        }
    }
}