.title-banner-image {
    max-width: 2200px;
    @media screen and (max-width: 767px) {
        width: 300vw;
        margin-left: -100vw;
    }
    &-bg {
        min-height: 550px;
        @media screen and (max-width: 767px) {
            min-height: 300px;
        }
    }
    &__arrow, &__back {
        transition: 0.3s;
    }
    &__back {
        &:hover {
            transform: translateX(-15px);
            .title-banner-image {
                &__arrow {
                    transform: translateX(-10px);
                }
            }
        }
    }
}