@import '../../../../node_modules/@glidejs/glide/dist/css/glide.core.min.css';

.testimonial {
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.testimonials {
    background-image: linear-gradient(to right, #F7F6FA, #F7F6FA 12.5%, #705CA4 12.5%, #3F2E7F,);
    @media screen and (max-width: 550px) {
        background-image: linear-gradient(to right, #F7F6FA, #F7F6FA 25%, #705CA4 25%, #3F2E7F,);
    }
}