.step {
    &__wrapper {
        border-left: 2px solid #FFA44A;
    }
    &__circle {
        position: absolute;
        height: 32px;
        width: 32px;
        background-color: #FFA44A;
        border-radius: 100%;
        left: -1px;
        top: 0;
        transform: translate(-50%);
        font-size: 19px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}